.calendar-listview-table {
    font-size: 1em;
    text-align: left;
    width: 100%;
}

.calendar-listview-table td {
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 2px;
    padding-left: 8px;
    border-bottom: 1px solid #ddd;
}

.calendar-listview-heading {
    font-size: 1em;
    text-align: left;
    background-color: rgb(221, 221, 221);
}

.calendar-listview-row {
    font-size: 1em;
    text-align: left;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#calendar-listview table,
    #calendar-listview thead,
    #calendar-listview tbody,
    #calendar-listview th,
    #calendar-listview td,
    #calendar-listview tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#calendar-listview thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#calendar-listview tr { border: 1px solid #ccc; }

	#calendar-listview td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 10px;
	}

	#calendar-listview td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}
}
